<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.iu.home.board.BoardMapper">
	
		<select id="getCount" parameterType="Pager" resultType="Long">
			SELECT COUNT(NUM) FROM QNA
			WHERE 
				<choose>
				<when test="select == 'writer'">WRITER</when>
				<when test="select == 'title'">TITLE</when>
				<otherwise>CONTENTS</otherwise>
			</choose>
			LIKE CONCAT('%',#{search},'%')
		</select>
		
		<select id="getList" parameterType="Pager" resultType="BoardVO">
			SELECT * FROM QNA
			WHERE
				<choose>
					<when test="select == 'writer'">WRITER</when>
					<when test="select == 'title'">TITLE</when>
					<otherwise>CONTENTS</otherwise>
				</choose>
			LIKE CONCAT('%',#{search},'%')
			ORDER BY NUM DESC
			LIMIT #{startRow}, #{perPage}
		</select>
		
		<!-- <resultMap type="BoardVO" id="getList">
			<id column="NUM" property="num"/>
			<result column="WRITER" property="writer"/>
			<result column="TITLE" property="title"/>
			<result column="CONTENTS" property="contents"/>
			<result column="HIT" property="hit"/>
			<result column="REGDATE" property="regDate"/>
			<result column="REF" property="ref"/>
			<result column="STEP" property="step"/>
			<result column="DEPTH" property="depth"/>
			<collection property="">
			
			</collection>
		</resultMap> -->
		
		<insert id="setAdd" parameterType="BoardVO">
			INSERT INTO QNA (NUM, WRITER, TITLE, CONTENTS, HIT, REGDATE, REF, STEP, DEPTH)
			VALUES (NULL, #{writer}, #{title}, #{contents}, 0, SYSDATE(), 0, 0, 0)
		</insert>
		
		<insert id="setAddFile" parameterType="BoardFileVO">
			INSERT INTO QNAFILES (FILENUM, NUM, FILENAME, ORINAME)
			VALUES (NULL, #{num}, #{fileName}, #{oriName})
		</insert>
	</mapper>